@import 'import';

@import 'variables';
@import 'report';
@import 'gallery';

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Slab&display=swap');

* {
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    font-size: 16px;

    body {
        height: 100%;
    }
}

body {
    background: $background-color1;
    background: $background-color2;
    display: flex;
    flex-direction: column;
    // TYPOGRAPHY

    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    color: $text-color;
}


.header {
    background: $header-image;
    background-position: center;
    background-size: cover;
    height: 300px;
    border-bottom: 2px solid #572b1d;
}


.header-text {
    overflow: auto;
    display: block;
    background-color: rgb(87, 43, 29, 0.5);
    width: 20%;
    height: 50%;
    margin: 1em 0;
    padding: 0.4em;
}

.title {
    h1 {
        font-size: 1.4em;
        text-align: right;
    }

    * {
        margin: 0;
        color: #572b1d;
        font-size: 100%;
        display: block;
    }

    p {
        font-style: italic;
        text-align: right;
    }
}

.logo {
    overflow: auto;
    display: block;

    img {
        width: 30%;
    }
}

.main {
    flex: 1 0 auto;
    padding: 5em 0 4em;

    .container {
        overflow-x: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', sans-serif;
    margin-bottom: 0.4em;
    font-weight: bold;
    color: $heading-color;
    margin: 0;
    padding: 0;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    padding: 0.2em;
}

a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

a:hover {
    color: #444;
}

li {
    list-style: none;
    margin: 0.3em;
}

// navbar
.nav {
    float: right;
    display: block;
    margin-top: 3em;
    overflow: auto;
    // TYPOGRAPHY
    text-align: right;
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    letter-spacing: 1px;

    a {
        color: #572b1d;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-left: 1em;
        padding: 0;
        font-weight: bold;
    }

}

.nav .active a,
.nav a:hover,
.nav-toggle:hover {
    color: rgb(212, 164, 150);
}

.nav a:hover,
.nav-toggle:hover {
    color: rgb(212, 164, 150);
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

// container
.container {
    max-width: 60em;
    padding: 0 0.5em;
    margin: 0 auto;
}

// text background for description about me
.text-background {
    overflow: auto;
    padding: 2em 3em;
    min-height: 30em;
    width: 80%;

    img {
        float: right;
        width: 50%;
    }
}

.report-img img {
    float: none;
    width: 80%;
    margin: auto;
}

img {
    max-width: 100%;
}


.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// footer
.footer {
    color: rgb(212, 164, 150);
    flex: 0 0 auto;
    
    a {
        color: rgb(212, 164, 150);
    }

    a:hover {
        color: rgb(212, 164, 150, 0.3);
    }

    p {
        margin: 0;
        padding: 3em;
        color: rgb(212, 164, 150);
    }

    .social {
        float: right;
        padding: 1.5em;
        font-size: 2rem;
    }
}

*:focus {
    outline: 0;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.widescreen .container {
    max-width: 72em;
}

.header>.container::after {
    content: '';
    display: block;
    clear: both;
}

@media (max-width: 1920px) {
    .main {
        padding: 8em 0 11em;
    }
}

@media (max-width: 1440px) {
    .main {
        padding: 5em 0 11em;
    }
}

/** FOR BIGGER DEVICES **/
@media (max-width: 920px) {
    .header-text {
        width: 40%;
    }
}


/*** BASIC LAYOUT: EXTRA SMALL DEVICES ***/

@media (max-width: 767px) {
    .main {
        padding: 2em 0 1em;
    }

    .header-text {
        display: none;
    }

    p {
        padding: 0.3em;
    }

    .nav {
        clear: both;
        padding: 0.5em;
        margin: 0;
    }

    .nav a {
        color: $link-color;
    }

    .nav ul {
        padding-bottom: 1em;
    }

    .nav ul li {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    .nav ul li a {
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 1em;
        text-align: center;
        cursor: pointer;
        color: #fff;
    }

    .js .nav-toggle>* {
        vertical-align: middle;
    }

    .footer .social {
        padding: 0.5em 0 0.5em 1em;
    }
}
