$background-color1: rgb(0, 0, 0);
$background-color2: linear-gradient(0deg, rgba(52, 52, 52, 1) 0%, rgba(14, 14 , 16, 1) 67%);

$header-image: url('../../shared/img/clouds.webp');


$heading-color: #bba299;
$text-color: #bba29a;
$link-color: #bba299;

// REPORTS
$report-page-background: rgb(205, 149, 132, 0.3);
$report-box-a: none;

$arrow-color: #d4a496;
$arrow-a-hover: rgb(205, 149, 132, 0.5);
