$background-color1: rgb(84, 65, 60);
$background-color2: linear-gradient(0deg, rgba(134, 80, 56, 1) 0%, rgba(185, 138, 128, 1) 100%);

$header-image: url('../../shared/img/clouds.webp');


$heading-color: #572b1d;
$text-color: #54413c;
$link-color: #572b1d;

// REPORTS
$report-page-background: rgb(205, 149, 132, 0.3);
$report-box-a: none;

$arrow-color: #d4a496;
$arrow-a-hover: rgb(205, 149, 132, 0.5);
